/**
 * App Window
 */
@define-color bg_color #4c566a;
@define-color window_bg @bg_color;
@define-color window_border_color @bg_color;
@define-color prefs_backgroud #eceff4;

/**
 * Input
 */
@define-color selected_bg_color #4c566a;
@define-color selected_fg_color #eceff4;
@define-color input_color #e5e9f0;
@define-color caret_color darker(@input_color);

/**
 * Result items
 */
@define-color item_name #d8dee9;
@define-color item_text #4c566a;
@define-color item_box_selected #3b4252;
@define-color item_text_selected #d8dee9;
@define-color item_name_selected #d8dee9;
@define-color item_shortcut_color #434c5e;
@define-color item_shortcut_shadow darker(@bg_color);
@define-color item_shortcut_color_sel @item_box_selected;
@define-color item_shortcut_shadow_sel darker(@item_box_selected);

.app {
    background-color: @window_bg;
    border-color: @window_border_color;
}

.input {
    color: @input_color;
}

/**
 * Selected text in input
 */
.input *:selected,
.input *:focus,
*:selected:focus {
    background-color: alpha (@selected_bg_color, 0.9);
    color: @selected_fg_color;
}

.item-text {
    color: @item_text;
}
.item-name {
    color: @item_name;
}

.selected.item-box {
    background-color: @item_box_selected;
    border-left: none;
    border-right: none;
}
.selected.item-box .item-text {
    color: @item_text_selected;
}
.selected.item-box .item-name {
    color: @item_name_selected;
}
.item-shortcut {
    color: @item_shortcut_color;
    text-shadow: none;
}
.selected.item-box .item-shortcut {
    color: @item_shortcut_color_sel;
    text-shadow: none;
}

.prefs-btn {
    opacity: 0.2;
}
.prefs-btn:hover {
    background-color: @prefs_backgroud;
}

.no-window-shadow {
    margin: -20px;
}
